* {
    box-sizing: border-box;
    text-align: center;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

section {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid black;
}

.start-button {
    cursor: pointer;
    background-color: rgb(81, 162, 238);
    font-weight: 700;
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
    height: 50px;
}

#search-page {
    margin-top: 20px;
}

form {
    margin-top: 10px;
    text-align: center;
}

.form-row {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset {
    border: 0;
}

.search-btn {
    cursor: pointer;
    background-color: rgb(81, 162, 238);
    font-weight: 700;
    border: 1px solid black;
    border-radius: 2px;
}

.searchResults {
    height: 100%;
}

.doctor-container {}

.doctor-container:first-child {
    margin-top: 15px;
}

.doctor-container:last-child {
    margin-bottom: 15px;
}

.doctor-info,
.contact-info {
    list-style: none;
    padding-left: 0;
    width: auto;
}

.doctor-info {
    background-color: #FEFEFE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5px;
    padding-right: 5px;
}

.doctor-img {
    padding: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.capitalize {
    text-transform: capitalize;
}

.wrapper {
    display: inline-block;
    width: 31%;
    vertical-align: top;
}

.doctor-card-text {
    padding-bottom: 5px;
}

.doctor-card-text:first-child,
.office-location-title {
    padding-top: 15px;
}

.office-location-title {
    margin: 0;
}

.doctor-name {
    color: #3C5AB2;
    font-weight: 700;
    font-size: 20px;
}

.doctor-title {
    color: grey;
}

.accepts-patients {
    font-weight: 600;
}
