* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    background: url(https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}


h1 {
    font-size: 50px;
    color: darkslategray;
    margin-top: 200px;
}

button {
    background-color: lightseagreen;
}

.title-bg {
    background-color: darkslateblue;
    opacity: 0.8;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 20px;
    color: white;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

section {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: slategray;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.start-section {}

.start-button {
    cursor: pointer;
    background-color: lightseagreen;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
    height: 50px;
}

#search-page {
    margin-top: 20px;
}

form {
    margin-top: 10px;
    text-align: center;
}

.form-row {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset {
    border: 0;
}

button {
    cursor: pointer;
    background-color: lightseagreen;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 2px;
}

.searchResults {
    height: 100%;
}

.doctor-container {}

.doctor-container:first-child {
    margin-top: 15px;
}

.doctor-container:last-child {
    margin-bottom: 15px;
}

.doctor-info,
.contact-info {
    list-style: none;
    padding-left: 0;
    width: auto;
}

.doctor-info {
    background-color: slategray;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.doctor-img {
    padding: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.capitalize {
    text-transform: capitalize;
}

.wrapper {
    display: inline-block;
    width: 31%;
    vertical-align: top;
}

.doctor-card-text {
    padding-bottom: 5px;
}

.doctor-card-text:first-child,
.office-location-title {
    padding-top: 15px;
}

.office-location-title {
    margin: 0;
    color: white;
}

.doctor-name {
    color: #3C5AB2;
    font-weight: 700;
    font-size: 20px;
}

.doctor-title {
    color: black;
}

.accepts-patients {
    font-weight: 600;
}
